<div class="wrapper">
    <div class="overlay">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="contact-us text-center mt-5">
                    <h1>Contact Us</h1>
                    <p class="mb-5">We are ready to help.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mt-5 text-center px-3">
                                <div class="d-flex flex-row align-items-center">
                                    <div class="address text-start">
                                        <span class="icons"><i class="bi bi-house-door"></i></span><span> Address</span>
                                        <p>123, Lorem Street , Montreal, Quebec, Canada</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mt-3">
                                    <div class="address text-start">
                                     <span class="icons"><i class="bi bi-telephone"></i></span><span> Phone</span>
                                        <p>123 456 7890</p>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mt-3">
                                    <div class="address text-start">
                                        <span class="icons"><i class="bi bi-envelope"></i></span><span> Email</span> <p>contact@headsincloud.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center px-1">
                                <div class="forms p-4 py-5 bg-dark">
                                    <h5>Send Message</h5>
                                    <div class="mt-4 inputs ">
                                        <input type="text" class="form-control mt-3" placeholder="Name">
                                        <input type="text" class="form-control mt-3" placeholder="Email">
                                        <textarea class="form-control mt-3" placeholder="Type your message"></textarea>
                                    </div>
                                    <div class="button mt-4 text-left">
                                        <button class="btn btn-primary">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>